<div ng-controller="JerkMainCtrl">

<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
  </ul>
  <h3 class="text-muted">Jerk Store</h3>
</div>

<div class="jumbotron">
  <h1>The Jerk Store</h1>
  <p class="lead">
    <img src="images/jerkstore.png" class="jerkstore" alt="I'm JerkStore"><br>
  </p>
</div>

<h1>Jerk Stock</h1>
<div class="row col-md-6" ng-repeat="jerks in jerkFaces">
    <ul>
      <li><h3>{{jerks.name}}</h3></li>
      <li><img ng-src="{{jerks.thumb}}"></img></li>
      <li><h4>{{jerks.preview}}</h4></li>
      <button class="btn btn-primary btn-default" data-toggle="modal" data-target="#myModal" data='{{jerkFace.id}}'>Detailed Jerk Info <span class="glyphicon glyphicon-zoom-in"></span></button>
      <li><a class="btn btn-default btn-success" ng-href="#">Add Jerk To Cart <span class="glyphicon glyphicon-shopping-cart"></span></a></p></li>
      
    </ul>
  </div>
